* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

$lightBg: #f5f5f5;
$blackColor: #0c0c0c;
$redColor: #ee2216;

@mixin menuShadow {
    box-shadow: 0 3px 15px rgba(#000, 0.15);
}

@mixin lineNum {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

body {
    font-family: "Tajawal", sans-serif;
    font-weight: 600;
    background: linear-gradient(270deg, #0f294b, #1d447c);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.form__page {
        background: #fff;
    }
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 30px;
}

.timer {
    position: absolute;
    bottom: auto;
    top: 90%;
    left: 66%;
    transform: translate(-62%, 0);
    text-align: center;
    display: inline-block;

    @media (max-width: 991px) {
        top: 90%;
        left: 42%;
    }

    @media (max-width: 767px) {
        left: 27%;
        top: 74%;
    }

    &.timer__two {
        bottom: auto;
        top: 90%;
        left: 66%;
        transform: translate(-56%, 0);
        text-align: center;
        display: inline-block;

        @media (max-width: 991px) {
            left: 44%;
            top: 85%;
        }

        @media (max-width: 767px) {
            left: 40%;
            top: 85%;
        }
    }

    .time {
        min-width: 52px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 28px;
        border-radius: 10px;
        background: $redColor;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
}

.speakol-widget {
    margin: 0 auto;
    position: absolute;
    left: 70%;
    top: 2%;
    transform: translate(-50%, 0);
    width: 350px;

    @media (max-width: 991px) {
        left: 50%;
        top: 26%;
        transform: translate(-50%, 0);
        width: 250px;
    }

    @media (max-width: 767px) {
        left: 50%;
        top: 17%;
        transform: translate(-50%, 0);
        width: 95%;
    }
}

.form {
    display: flex;
    align-items: center;
    min-height: 100vh;

    @media (max-width: 991px) {
        flex-direction: column;
    }

    .heading {
        margin-bottom: 50px;

        h1 {
            font-size: 1.7rem;
        }
    }

    .left__banner {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;

        @media (max-width: 991px) {
            order: 1;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .container {
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%;
        padding: 100px;

        @media (max-width: 991px) {
            order: 0;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding: 50px 30px;
        }
    }

    .form__group {
        margin-bottom: 35px;

        label {
            display: block;
            color: #0000008c;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
    }

    .form__control {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        border: 0.125rem solid #ced4da;
        appearance: none;
        border-radius: 0.5rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #80a1d1;
            outline: 0;
            box-shadow: 0 0 0 0.25rem #0042a240;
        }
    }

    .custom__checkbox {
        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        label {
            position: relative;
            cursor: pointer;
        }

        label:before {
            content: "";
            -webkit-appearance: none;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid #ced4da;
            box-shadow: 0 1px 2pxrgba (0, 0, 0, 0.05),
                inset 0px -15px 10px -12pxrgba (0, 0, 0, 0.05);
            padding: 8px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-left: 5px;
            border-radius: 4px;
        }

        input:checked+label:after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            right: 6px;
            width: 5px;
            height: 9px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        input:checked+label::before {
            background: #003582;
        }
    }

    a {
        color: #0042a2;
        text-decoration: underline;
    }

    .btn {
        cursor: pointer;
        width: 100%;
        padding: 1rem 1.75rem;
        font-size: 1.25rem;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        color: #fff;
        background-color: #0042a2;
        border-color: #0042a2;
        border: 0.125rem solid transparent;
        border-radius: 0.5rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        font-family: "Tajawal";

        &:hover {
            color: #fff;
            background-color: #00388a;
            border-color: #003582;
        }

        &:focus {
            color: #fff;
            background-color: #00388a;
            border-color: #003582;
            box-shadow: 0 0 0 0.25rem #265eb080;
        }
    }
}

.banner__one {
    position: relative;
    width: 100%;
    height: 100vh;

    .images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            filter: drop-shadow(0 0 10px rgba(#fff, 0.1));

            &.lg {
                display: none;

                @media (min-width: 992px) {
                    display: block;
                }
            }

            &.md {
                display: none;

                @media (min-width: 768px) and (max-width: 991px) {
                    display: block;
                }
            }

            &.sm {
                display: none;

                @media (max-width: 767px) {
                    display: block;
                }
            }
        }
    }

    &.banner__two {
        .images {
            img {
                object-fit: fill;

                @media (max-width: 991px) {
                    object-fit: contain;
                }

                @media (max-width: 767px) {
                    object-fit: fill;
                }
            }
        }
    }
}

.spk-stand-wg.sp-mobile .sp-title-container p {
    font-size: 2vw !important;
}

.spk-stand-wg.sp-mobile.sp-one-item .sp-title-container p {
    font-size: 16px !important;
}