*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*************************/
body {
	direction: rtl;
	font-family: "Tajawal", sans-serif;
	color: #010101;
}

.wrapper {
	min-height: 100vh;
	overflow-x: hidden;
	background: url(../images/full-bg.jpg) no-repeat center center/cover;
	display: flex;
	align-items: center;
	padding-bottom: 90px;
	.container {
		width: 100%;
		height: 100%;
		max-width: 1200px;
		padding: 0px 30px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&.another__page {
			flex-direction: column;
			.another__banner {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				& > div {
					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}
			}
		}
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
	}
	.data {
		text-align: center;
		max-width: calc(100% - 600px);
		width: 100%;
		margin: 0 auto;
		@media (max-width: 991px) {
			order: 0;
			max-width: 100%;
		}
		.heading {
			h1 {
				margin-bottom: 0;
				color: #000;
				font-size: 39px;
				font-weight: bold;
				@media (max-width: 767px) {
					font-size: 25px;
				}
				span {
					display: inline-block;
					position: relative;
					&::before {
						content: "";
						position: absolute;
						top: -10px;
						left: 50%;
						transform: translate(-50%, 0);
						height: 2px;
						width: 100%;
						background: #ef2915;
					}
				}
			}
			& + .desc {
				margin-top: 5px;
				@media (max-width: 767px) {
					margin-bottom: 10px;
				}
			}
		}
		.desc {
			margin-top: 20px;
		}
		.timer {
			text-align: center;
			margin-top: 20px;
			span {
				background: #ef2915;
				border-radius: 6px;
				font-size: 30px;
				font-weight: bold;
				padding: 4px 28px 4px;
				color: #fff;
				box-shadow: 0 3px 6px rgba(#ef2915, 0.6);
				@media (max-width: 991px) {
					font-size: 20px;
					padding: 4px 28px 4px;
				}
			}
		}
	}
	.right__banner {
		max-width: 320px;
		width: 100%;
		@media (max-width: 991px) {
			order: 1;
			max-width: 100%;
			display: flex;
			justify-content: space-between;
			margin-top: 15px;
		}
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
		& > div {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	.left__banner {
		max-width: 320px;
		@media (max-width: 991px) {
			order: 1;
			max-width: 100%;
			width: 100%;
		}
	}
	.banner__lg {
		display: block;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.banner__md {
		display: none;
		@media (max-width: 991px) {
			display: block;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	.banner__sm {
		display: block;
		@media (min-width: 768px) {
			display: none;
		}
	}
	.d__sm__none {
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.footer {
	background: rgba(#fff, 0.8);
	box-shadow: 0 3px 15px rgba(#000, 0.1);
	padding: 10px 25px;
	pointer-events: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	pointer-events: none;
	.kmt {
		max-width: 58px;
		margin-right: auto;
		img {
			width: 100%;
		}
	}
	.logo {
		max-width: 82px;
		margin-left: auto;
		img {
			width: 100%;
		}
	}
}

.d__320x50 {
	width: 320px;
	height: 50px;
	background: #ccc;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}
.d__320x100 {
	width: 320px;
	height: 100px;
	background: #ccc;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}
.d__300x250 {
	width: 300px;
	height: 250px;
	background: #ccc;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}
.d__300x100 {
	width: 300px;
	height: 100px;
	background: #ccc;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}
.d__300x600 {
	width: 300px;
	height: 600px;
	background: #ccc;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}
.d__728x90 {
	width: 728px;
	height: 90px;
	background: #ccc;
	@media (max-width: 991px) {
		margin: 0 auto;
	}
}
